[2016-12-21 15:30] vietj opened #1 "rewrite consumer synchronization"
- to use synchronized (biased) locking when using same thread
- to use volatile synchronization when using a dedicated thread

currently it uses volatile synchronization.

[2016-12-30 16:50] ppatierno opened #2 "Possible deadlock"
Check why the testAssign doesn't complete due to a possible deadlock related to the run method for polling records. As a note : the logic is the same with testSubscription but the problem doesn't happen there.

[2016-12-31 13:12] ppatierno commented on #2
Not real bug. The problem was that in the testAssign() I was asking about partition 1 but partitions are 0 based (as index) fixed with 326f1268200243cdeee91a054f9fa218e5eecc51.
Due to a not existing partition I was facing the following hang in the current Kafka version still opened https://issues.apache.org/jira/browse/KAFKA-3177.

[2016-12-31 13:12] #2 closed

[2017-01-03 17:07] ppatierno opened #4 "Using Serdes Kafka class as factory for serializer/deserializer"
See PR #3

[2017-01-04 00:44] matzew opened #5 "Updating to 0.3.6 of Debizum"
Updating the used version of Debizium:
[code]

Does result in some `javax.management.InstanceAlreadyExistsException` while running the tests, while the tests still pass.

[2017-01-04 09:42] matzew commented on #4
Once there is a Debezium release that supports `0.10.1.1` or later, we can do this.

also, related: https://github.com/vert-x3/vertx-kafka-client/issues/5

[2017-01-04 09:42] matzew commented on #4
I am happy to help here on this too ;-)

[2017-01-28 13:38] ppatierno opened #6 "Updating to 0.10.1.1 Kafka client"
After updating pom.xml with new version, adding new following methods :

- endOffsets

[2017-02-13 15:13] elarbi opened #8 "Documentation urls are broken"
Hello,

In the documentation page : https://github.com/vert-x3/vertx-kafka-client/blob/initial-work/src/main/asciidoc/java/index.adoc
the references to javadoc are broken e.g. https://github.com/vert-x3/vertx-kafka-client/blob/initial-work/src/main/apidocs/io/vertx/kafka/client/consumer/KafkaConsumer.html

Regards

[2017-02-13 18:34] vietj commented on #8
Hi,

you cannot have them right now, they will be available when published on the website.

or you can  get them from this archive in the meantime : https://oss.sonatype.org/content/repositories/snapshots/io/vertx/vertx-kafka-client/3.4.0-SNAPSHOT/vertx-kafka-client-3.4.0-20170213.114652-63-docs.zip

[2017-02-13 18:35] #8 closed

[2017-02-17 16:07] maxplanck76er opened #10 "Possible to get the KafkaConsumer instance from KafkaReadStream ?"
Hello,

I am using your kafka client and I wonder if it would be possible to access the org.apache.kafka.clients.consumer.KafkaConsumer instance directly in KafkaStream ?

I would like to use some methods like position(TopicPartition partition) not directly available using your KafkaStream wrapper.

Fine thank you.

[2017-02-17 17:43] vietj commented on #10
yes it should be possible imho

[2017-02-17 17:58] vietj commented on #10
just commited that : https://github.com/vert-x3/vertx-kafka-client/commit/b03fa9025043566adc7c8d8821412512eaab98b6

can you give a try ?

[2017-02-17 18:55] maxplanck76er commented on #10
Great, Thank you so much !

[2017-02-17 19:33] vietj commented on #10
btw if some ops are missing, you can contribute them to the vertx api to ease usage.

[2017-02-17 22:13] ppatierno commented on #10
@vietj @maxplanck76er I don't like this way too much. If some methods are missing we should add it to the Kafka streams and Kafka polyglot wrapper avoiding to expose the internal Kafka client objects. Why do you think that it exposing them is the right solution ?

[2017-02-18 08:54] vietj commented on #10
@ppatierno because Vert.x *should not get in the way* of the developer and if the developer really needs to access it then he will use magic reflection and set Accessible true to obtain it anyway.

[2017-02-18 09:48] vietj commented on #10
that being said it should not preclude adding missing methods.

[2017-02-18 14:41] maxplanck76er commented on #10
@ppatierno @vietj I have forked the repo and added the position method to KafkaStream.

The commit is [1fb878b](https://github.com/maxplanck76er/vertx-kafka-client/commit/1fb878b47df8444ae13863648e07aa8a0f09f484)

[2017-02-18 15:17] vietj commented on #10
@maxplanck76er did you sign the Eclipse ECA ?

[2017-02-18 15:31] maxplanck76er commented on #10
@vietj I didn't at the commit time but it's now done.

[2017-02-18 16:32] vietj commented on #10
have you done a PR so we can review it ?

[2017-02-18 16:40] maxplanck76er commented on #10
Sorry, done.

https://github.com/vert-x3/vertx-kafka-client/pull/11

[2017-02-20 17:00] mavencode01 opened #12 "Missing repository - not published yet?"
I added this dependency to my pom files but unable to locate the dependency in the maven repository, where can I find this library? @vietj

[2017-02-20 17:05] vietj commented on #12
@mavencode01 for now it is published in OSS sonatype SNAPSHOT  repository https://oss.sonatype.org/content/repositories/snapshots/io/vertx/vertx-kafka-client/

[2017-02-20 17:07] mavencode01 commented on #12
Cool, thanks!

[2017-02-20 17:07] #12 closed

[2017-02-20 19:53] #10 closed

[2017-02-23 17:12] elarbi opened #13 "Some RxJava classe are missing"
Hello,

I've cloned the repo and tried to launch the tests but the following classes are not present in the classpath : import io.vertx.rxjava.kafka.client.consumer.KafkaConsumer;
import io.vertx.rxjava.kafka.client.consumer.KafkaConsumerRecord;

(imports from the RxExamples.java)

Same problem in io.vertx.kafka.client.tests.RxConsumerTest
"import io.vertx.rxjava.kafka.client.consumer.KafkaConsume

[2017-02-23 17:25] vietj commented on #13
they are generated in `ls target/generated-sources/annotations/io/vertx/rxjava/`, run `mvn compile first`

[2017-02-24 13:50] vietj opened #14 "Producer/Consumer close/cleanup improvements"
A few enhancements and fixes

- `KafkaWriteStream` close was not wrapped the actual producer in an `executeBlocking` block
- `KafkaReadStream` executor was not shutdown in close
- changed the various `close(Handler<Void>)` to `close(Handler<AsyncResult<Void>>)`
- documented the consumer/producer close operation
- consumer/producer automatic clean-up in verticles
- name the consumer thread to `vert

[2017-02-24 14:12] #14 closed

[2017-02-24 14:14] poiuytrez opened #16 "Implement a createShared for producers"
Implement a createShared method so clients can be shared safely (See docs for JDBC client and Mongo client).

From: https://groups.google.com/forum/#!topic/vertx/82bx2vZiIAI

[2017-02-24 15:11] elarbi commented on #13
Works pertty fine !
Thanks a lot

[2017-02-24 15:11] #13 closed

[2017-02-26 14:10] #16 closed

[2017-03-03 14:53] doernemt commented on #6
Are there any plans yet to upgrade to .1.1 ?
We'd be very interested, because we need the new API to resolve an offset by timestamp (`public Map<TopicPartition, OffsetAndTimestamp> offsetsForTimes(Map<TopicPartition, Long> timestampsToSearch)` in KafkaConsumer

Happy to help with a PR.

[2017-03-10 09:00] #5 closed

[2017-03-10 09:05] #6 closed

[2017-03-10 16:40] poiuytrez opened #21 "KafkaWriteStreamImpl.java uses a blocking function"
It is written in the official KafkaProducer documentation that

https://kafka.apache.org/0100/javadoc/index.html?org/apache/kafka/clients/consumer/KafkaConsumer.html

It is unfortunately not true. We can read on the description of the max.block.ms parameter:

https://kafka.apache.org/documentation/

So if Kafka is down, the producer **send** method executed on the event loop (line 94 of KafkaWrite

[2017-03-10 16:52] ppatierno commented on #4
I'm going to close on behalf of #20

[2017-03-10 16:52] #4 closed

[2017-03-10 17:25] vietj commented on #21
so the javadoc is lying ?

[2017-03-10 17:27] vietj commented on #21
is it possible to detect such case ? i.e if the producer is going to block or not ?

[2017-03-10 17:37] poiuytrez commented on #21
The javadoc is lying. I don't think that we can detect it.

[2017-03-10 17:41] vietj commented on #21
so now the only workaround is to use a worker verticle ?

[2017-03-10 17:42] poiuytrez commented on #21
I think so...

[2017-03-10 17:42] vietj commented on #21
do you know where this is blocking in the code ?

[2017-03-10 17:44] poiuytrez commented on #21
This is an example:
[kafka-hackathon 2.zip](https://github.com/vert-x3/vertx-kafka-client/files/834678/kafka-hackathon.2.zip)

Just run the producer without any kafka running on your machine and it will hang.

[2017-03-10 17:45] vietj commented on #21
thanks

[2017-03-10 17:57] vietj commented on #21
so using an executeBlocking should be ok I think, I'll provide a patch for 3.4.1

[2017-03-10 18:05] ppatierno commented on #21
@poiuytrez thanks for reporting this. It was on my todo list for the 3.4.1 release but you beat me on time. A long time ago I discussed about that on the Kafka mailing list because the get metadata action seems to be the cause of the problem when the producer can't connect to the Kafka server. We'll fix it using blocking code as @vietj said. :)

[2017-03-10 18:21] vietj opened #22 "testOffsetsForTimes fails"
right now I'm getting:

[code]

[2017-03-10 18:35] vietj opened #23 "Shared KafkaProducer should only shared the Producer and not the KafkaWriteStream"
motivation: the KafkaWriteStream should not be shared because it own state that cannot be shared such as `drainHandler` and `size`.

changes: only keep a reference on the producer in `SharedProducer` class instead of `KafkaWriteStream`

[2017-03-10 18:35] #23 closed

[2017-03-10 20:38] #21 closed

[2017-03-10 20:48] vietj opened #24 "Incorrect producer back pressure when send fails"
motivation:  currently when the producer send fails, the pending size is not decreased and the drain handler is not called if it goes under the low watermark.

change: unconditionally decrease the pending size and call the drain handler in producer send callback

[2017-03-10 20:49] #24 closed

[2017-03-13 09:06] doernemt commented on #22
@vietj I saw you checked in some changes Friday night. Is the problem solved or should I refactor the test further?
Thx, Tim

[2017-03-13 12:58] psutter05 opened #25 "Update documentation for kafka java"
In the "Using the Vert.x Kafka client" section of "Vert.x Kafka client" it seems like a couple of lines are missing.

https://github.com/vert-x3/vertx-kafka-client/blob/master/src/main/asciidoc/java/index.adoc

The documentation makes reference to a package to add in order to be able to use SNAPSHOT versions of the plugin:

"
As component not yet officially released in the Vert.x stack, to use the

[2017-03-28 12:04] doernemt commented on #22
Fixed (indirectly) by #26

[2017-03-28 13:02] #22 closed

[2017-03-31 07:59] doernemt opened #30 "NullPointerException in KafkaProducerImpl if write is called without callback"
If you call `KafkaProducer.write(record)` (i.e., without a handler) and (Apache) KafkaProducer returns an error, vert.x KafkaProducerImpl throws a NPE, because it will always try to call handler.handle -- but handler is null.

PR to fix this follows within the next minutes ;)

[code]

[2017-04-03 07:49] pmlopes opened #32 "NullPointerException in KafkaProducerImpl"
@jvz commented on [Thu Mar 23 2017](https://github.com/vert-x3/issues/issues/247)

Code snippet:

[code]

Using the first method calls the second method, and `handler` is null there, so it's an unconditional NPE. This is in version 3.4.1.

[2017-04-03 07:51] doernemt commented on #32
Hi, @pmlopes : See also #30. I have a open PR to fix this

[2017-04-03 15:15] #30 closed

[2017-04-06 14:49] doernemt opened #33 "NPE in KafkaConsumerImpl.offsetForTimes"
If offsetForTimes is called with a timestamp greater than the 'latest' timestamp in the topic, the method will throw a NPE.

PR to fix this is on the way.

[2017-04-18 10:06] #25 closed

[2017-04-27 09:32] #33 closed

[2017-05-08 08:50] tombentley opened #36 "partitionsFor() requires prior subscribe() or assign()"
If I call `partitionsFor()` on a `KafkaConsumer`/`KafkaReadStream` without having previously done a `subscribe()` or `assign()` I get a NPE.

java.lang.NullPointerException
	at io.vertx.kafka.client.consumer.impl.KafkaReadStreamImpl.submitTask(KafkaReadStreamImpl.java:104)
	at io.vertx.kafka.client.consumer.impl.KafkaReadStreamImpl.partitionsFor(KafkaReadStreamImpl.java:472)
	at io.vertx.kafka.cli

[2017-05-08 13:16] tombentley opened #39 "KafkaConsumer API hides Kafka batches"
The API presented by the `KafkaConsumer` uses a `Handler<KafkaConsumerRecord>`, and the implementation will:

1. Call poll() on the underlying (Kafka) consumer.
2. Get an Iterator for the returned records,
3. Iterate them 10 at a time, before yielding

This completely obscures from the `KafkaConsumer`'s client the batches of records (`ConsumerRecords`) returned by the underlying `Consumer`. For so

[2017-05-12 10:22] tombentley commented on #36
On reflection I think my PR #37 for this is not correct... by automatically `start()`ing the consumer in a call to `partitionsFor()` is means that subsequently `assign()` and `subscribe()` already have an open connection and therefore don't call `resume()`. Thus the sequence `partitionsFor(), assign()` results in paused consumer, whereas `assign()` would normally result in a non-paused consumer, w

[2017-05-17 07:55] #36 closed

[2017-05-17 09:21] #39 closed

[2017-05-23 09:36] tombentley opened #46 "assign() then seek() with implicit consumption"
Some use cases want to `assign()` and then, *before consuming any records*, `seek()` to where they want to start reading from. The native Kafka API allows this because `assign()` and `seek()` only take effect on the next call to `poll()`, so the sequence `assign(), seek(), poll()` gives the desired semantics.

The vertx-kafka-client API differs from this because `assign()` implicitly calls `poll()

[2017-05-23 09:48] ppatierno commented on #46
We are wrapping Kafka native API so the `poll()` and this problems comes here. I like to have the same Kafka native API exposed by the Vert.x one (people who move from native to Vert.x should be already familiar with the API). Of course, we want to expose something like `poll()` because we have the consumer side as a stream and the reactive way Vert.x expose API. I agree on having something like `

[2017-05-23 16:33] vietj commented on #46
I think one behavior could be that there should be an handler on the stream to start the poll, i.e

- set handler, call assign : start to poll
- call assign, call seek, set handler : start to poll

that's what we do in other case and it is actually more compatible with RxJava extension behavior

[2017-05-23 16:41] ppatierno commented on #46
@vietj can you provide an example on where this is used ? Does it mean that the status of a handler (set or not) is the trigger for starting to poll ?

[2017-05-23 17:02] vietj commented on #46
yes this shall be used.

ReadStream don't have notion of subscription, so this is what is used for cold streams.

You can look at `AsyncFile` for instance.

[2017-05-23 18:07] doernemt commented on #46
I agree with @tombentley 's problem description. We have exactly that use case and work around it by first assigning a' dev/null' handler, then calling subscribe. The partitionAssignHandler code then does seekToEnd and only after that we replace the handler by the actual logic we want to be executed on new records...

So, @vietj's proposal fits perfectly for our case.

[2017-05-24 11:25] tombentley commented on #46
I may be wrong @doernemt, but FTR I think that workaround might not strictly work. The reason is that the consumer has an internal buffer of messages fetched from Kafka, so I think the following sequence is possible, at least in theory:

1. Fetch messages form Kafka, let's say we get 100 messages, these are added to the internal buffer.
2. Part way through processing those messages the `seekToEnd`

[2017-05-24 11:30] doernemt commented on #46
You are absolutely right, @tombentley ! We indeed see that effect. We're a few months away from releasing the functionality, that's why that workaround is acceptable. For the launch of the feature, I'd like to have it fixed. Seems like you're currently fixing that issue, so thanks ;) The sequence assign -> seek -> setHandler would apply to our use case.

[2017-05-24 12:35] ppatierno commented on #46
I have a couple of doubts/questions here .. because maybe I miss understood "a new record handler is installed" phrase on point 2.
Let's imagine that a consumer call assign() and then setHandler() ... it starts to consume records from Kafka from offset 0 for example. Let's imagine that the stream has 1000 records but the first fetch returns 100 records. Based on some logic in the application, when

[2017-05-24 13:18] tombentley commented on #46
@ppatierno using your example:

* you wouldn't need to set a new handler,
* because of the internal buffer (with or without PR #47) the handler would see the remaining 49 records before it saw those it was expecting to see (those from the `seek()`ed to offset),
* When `enable.auto.commit=false` purging the buffer when `seek()` was called should work. But the situation is not clear when the consume

[2017-05-24 13:32] tombentley commented on #46
Of course it's not simple to purge the buffer given that we can be subscribed/assigned to >1 topic, but they're all in the same buffer.

[2017-05-25 09:42] tombentley commented on #46
Let's list the API methods which should have this logic applied:

* `seek(TopicPartition)` -- we need to filter out the buffered messages in the given `TopicPartition` until the next call to `poll()`
* `seekToBeginning(Set<TopicPartition>)` -- we need to filter out the buffered messages in the given `TopicPartition`s until the next call to `poll()`
* `seekToEnd(Set<TopicPartition>)` -- we need to

[2017-05-25 14:48] tombentley commented on #46
I've pushed further changes (and tests) which provide the guarantee that once the handler of the [above mentioned methods](https://github.com/vert-x3/vertx-kafka-client/issues/46#issuecomment-303968598) has been called, the record handler won't see messages in affected partitions.

The buffer can thus be accessed from two threads, the event loop thread and the consumer thread. I believe there is c

[2017-05-26 09:18] tombentley commented on #46
I'm going to open a separate issue for this further problem raised by @ppatierno, and amend the existing PR #47 to just address the initial problem described in this issue.

[2017-05-26 09:28] tombentley opened #48 "Semantics for observed records wrt reassignment, partition-specific pause/resume etc"
A number of native Kafka Consumer API methods have semantics in terms of "... takes effect on the next call to `poll()`". For example if you're already assigned to some set of partitions and you reassign the partitions you're assigned to that takes effect on the next call the `poll()`.

The `KafkaReadStream` hides the calling of `poll()` from the client of its API, so it's not really clear what th

[2017-05-26 09:29] tombentley commented on #46
The PR #47 now addresses this issue only.

[2017-05-26 09:32] tombentley commented on #48
A number of API methods are effected by similar problems:

* `seek(TopicPartition)` -- we need to filter out the buffered messages in the given `TopicPartition` until the next call to `poll()`
* `seekToBeginning(Set<TopicPartition>)` -- we need to filter out the buffered messages in the given `TopicPartition`s until the next call to `poll()`
* `seekToEnd(Set<TopicPartition>)` -- we need to filter

[2017-05-26 10:58] tombentley commented on #48
My [branch](https://github.com/tombentley/vertx-kafka-client/tree/issue-48) attempts to fixing this, but is not correct. It replaces the field `Iterator<ConsumerRecord> current` with a new datastructure which manages the records on a per-partition basis.

The problem with it is that there's a race condition. This linearization:

1. worker thread: `seek()`
2. event thread: `poll()/add()`
3. worker

[2017-05-26 12:34] #46 closed

[2017-05-26 15:35] tombentley opened #50 "Callbacks executed on worker thread"
Callbacks to some methods (such as seek, assign) execute on the worker thread, rather than the event loop thread (which is the vertx norm).

[2017-06-02 11:06] ppatierno commented on #1
I think we don't need it anymore because we now have only one version of consumer with a Vert.x worker thread. @vietj can I close it ?

[2017-06-02 12:13] vietj commented on #1
sure you can

[2017-06-02 15:01] #1 closed

[2017-06-06 06:26] #50 closed

[2017-06-06 09:56] tombentley opened #53 "Differing semantics of KafkaConsumer.pause() and pause(TopicPartition)"
`KafkaConsumer.pause()` will *immediately* stop the `KafkaConsumer` from calling the record handler until `resume()` is called. This includes preventing the processing of buffered messages.

In contrast, `KafkaConsumer.pause(TopicPartition)` and `KafkaConsumer.pause(Set<TopicPartition>)` just correspond to a native `pause(Set<TopicPartition>)`, which will take effect on the next call to `poll()`,

[2017-06-07 06:40] vietj opened #55 "Use org.apache.kafka:kafka_2.12 instead of org.apache.kafka:kafka_2.11"

[2017-06-07 06:41] #55 closed

[2017-06-14 16:56] mitch-hulu opened #59 "KafkaWriteStreamImpl.partitionsFor failure results in two callbacks"
Repo: Call partitionsFor on a non-running cluster (single broker is fine).  Result is that the callback is called twice, once for the timer and once for the actual producer callback.  The TODO: on the timer questions it's usefulness, and I agree.  I believe the producer call will timeout itself on the max.block.ms setting.

I believe the fix is to just remove the setTimer logic.

https://github.co

[2017-06-14 17:31] mitch-hulu commented on #59
Verified removing the setTimeout block removes duplicate callbacks, and the producer will still callback correctly.  Will work up a PR.

[2017-06-14 20:52] mitch-hulu commented on #59
https://github.com/vert-x3/vertx-kafka-client/pull/60

[2017-06-14 20:54] mitch-hulu commented on #59
simple test app to demonstrate before/after.  The logged line will occur twice before, once after fix.
`public class Server extends AbstractVerticle {

    private static final Logger log = LoggerFactory.getLogger(Server.class);

    @Override
    public void start(Future<Void> future) throws Exception {
        final HashMap<String, String> producerConfig = new HashMap<>();
        producerConfig

[2017-07-29 19:12] gillbates opened #61 "Issues with vertx-kafka-client and spark!"
I've attached the demo project organized by gradle to reproduce the issue.
In order to run this demo, we should have Spark setup locally.

The problem is:
When we use vertx and spark together, particularly with vertx-mysql-postgresql-client & vertx-kafka-client in our dependencies, we would have following exceptions when we run Simple.java

Exception in thread "main" java.lang.NoClassDefFoundError

[2017-07-31 13:58] gillbates commented on #61
Once we force the scala to be 2.11.8, its working. Thanks for all.

ext {
    scalaVersion = "2.11.8"
}

configurations.all {
    resolutionStrategy {
        force "org.scala-lang:scala-library:${scalaVersion}"
        force "org.scala-lang:scala-compiler:${scalaVersion}"
        force "org.scala-lang:scala-reflect:${scalaVersion}"
    }
}

[2017-07-31 13:58] #61 closed

[2017-08-02 19:48] sirgantrithon opened #62 "Using vertx-kafka-client can break logging"
After including the vertx-kafka-client jar (and its dependencies) into my fatjar, my application logging broke.  I am using the vert.x slf4j delegate factory and logback as the logging implementation.

After looking at the dependencies for the vertx-kafka-client, I excluded log4j and the slf4j-log4j bridge that vertx-kafka-client has declared dependencies on and my logging worked again.

I was won

[2017-08-03 07:46] vietj commented on #62
I think this is due to the `io.vertx.kafka.admin` addition that brought the `org.apache.kafka:kafka_2.12` dependency that brings log4j.

Perhaps should should handle differently this dependency and mark it as _optional_ or move `io.vetx.kafka.admin` in another maven module.

@cescoffier WDYT ?

[2017-08-03 09:14] cescoffier commented on #62
SLF4J dependencies on bridges should be marked as optional or excluded. SLF4J API version needs to be aligned with the vert.x core one.

Whether or not the admin needs to be in another module, I don't know. Would that make sense?

[2017-08-03 09:18] vietj commented on #62
the admin tools have an hard dependency on log4j and slf4jlog4j bridge

[2017-08-03 09:18] vietj commented on #62
that being said, someone can use the client without the admin tools and thus not required log4j/slf4jlog4j

[2017-08-03 09:21] ppatierno commented on #62
regarding the admin features, the Kafka team added them in one of the latest release and inside their "clients" module. The objective was having the user application able to not just consume/produce messages for Kafka but even create topic, changing configuration on them and so on. To me it makes sense to leave the admin as part of the client in all one module having the same behaviour as Kafka.

[2017-08-10 08:10] aesteve opened #63 "Using an EmbeddedServer for testing purposes"
Based on : https://gist.github.com/fjavieralba/7930018

This would be a very nice addition to the stack, having a way to startup a Zk server and a Kafka broker in tests.

The problem is that the gist is using a blocking implementation. If we could create a non-blocking embedded server, future compliant (i.e. notifying "that's OK, both zk and kafka are up, you can start testing", that'd be awesome)

[2017-08-10 08:15] vietj commented on #63
@aesteve we already do that using Debezium kafka cluster that is very convenient to use. You can look at the tests or in the kafka examples https://github.com/vert-x3/vertx-examples/blob/master/kafka-examples/src/main/java/io/vertx/example/kafka/dashboard/MainVerticle.java#L33

[2017-08-10 12:23] aesteve commented on #63
Oh I missed that part.

Works like a charm, thank you !

[2017-08-10 12:23] #63 closed

[2017-08-10 13:36] vietj commented on #63
maybe a candidate for the cookbook ? WDYT ?

[2017-08-11 08:15] aesteve commented on #63
That could be a good candidate indeed (even though it's already present in the examples ?) but unfortunately, it's buggy...

The method `withKafkaConfiguration` does not work at all.

I think the guys from debezium put the method here but didn't use/test it at all.

The problem is them using `new Properties(kafkaProperties)`, which copies the passed properties as `defaults`, and then adds their ow

[2017-08-11 09:41] vietj commented on #63
perhaps you can report it on their JIRA tracker

[2017-08-18 08:14] aesteve commented on #63
https://issues.jboss.org/browse/DBZ-323?_sscc=t

The issue seems easy to fix, but not that easy to test. If you have an opinion, please comment ;)

Thnaks anyway Julien.

[2017-08-18 12:25] vietj commented on #63
I would say just contribute a fix at least :-)

[2017-08-30 08:57] AGutan opened #64 "Support passing Serializer / Deserializer instances when building producer/consumer/stream"
I would like to use my own deserializer.

Something like this:

[code]

Any advice on using the KafkaConsumer and directly deserialize the bytes from Kafka with my Deserializer.

I tried deserializing with BufferDeserializer first then with MyDeserializer wich works. But I would like to know if there's a way to do it without the intermediate BufferDeserializer.

*Assuming data has been originally

[2017-08-30 09:01] AGutan commented on #64
For example modern stream processing engines have KafkaConsumer constructor like this:

`KafkaConsumer<String, MyClass1>new KafkaConsumer(... , new CustomDeserializer<>(MyClass1.class) , ...);`

which is kind of the way I would prefer

[2017-08-30 09:14] vietj commented on #64
how about providing a Kafka `Serde<T>` ?

[2017-08-30 09:17] vietj commented on #64
actually just providing serializer/deserizalizer seems trivial to add, I will come up with a PR

[2017-08-30 09:34] AGutan commented on #64
@vietj Thx for the tip. Got it. But would be nice to have direct parameters for ser/deserializers. Otherwise I would have to operate on the KafkaReadStream and provide a ser/des.

[2017-08-30 09:36] vietj commented on #64
@AGutan I've made a PR that add support for direct passing of Serializer / Deserializer, would you mind to check if that is what you need ?

[2017-08-30 09:41] AGutan commented on #64
@vietj Yep. Thx a lot!

[2017-09-15 05:42] abcfy2 opened #67 "io.vertx.groovy.kafka.client.VertxPropertiesModuleFactory cannot be cast to org.codehaus.groovy.runtime.m12n.PropertiesModuleFactory"
Here is my gradle config:

[code]

And `VERTX_VER = 3.4.2`

But vertx `3.4.1` works very well.

[2017-09-15 10:12] plenderyou opened #68 "commit with a simple handler does not get callback"
KafkaConsumerImpl
  @Override
  public void commit(Handler<AsyncResult<Void>> completionHandler) {
    this.stream.commit(completionHandler != null ? ar -> ar.map((Object) null) : null);
  }

The above commit line never calls the completion handler passed in.
Should this not be
  @Override
  public void commit(Handler<AsyncResult<Map<TopicPartition, OffsetAndMetadata>>> completionHandler) {
    th

[2017-09-16 03:28] datafibers opened #69 "Does consumer has timeout?"
How can I set timeout for consumer pulling (or poll) the records. Or timeout the consumer.handler

[2017-09-24 11:02] kbt opened #70 "Empty KafkaConsumer.exceptionHandler"
According to doc, KafkaConsumer.exceptionHandler() should set an exception handler
http://vertx.io/docs/vertx-kafka-client/java/#_handling_errors
http://vertx.io/docs/apidocs/io/vertx/rxjava/kafka/client/consumer/KafkaConsumer.html#exceptionHandler-io.vertx.core.Handler-

But what it does is simply return _this_ instance
https://github.com/vert-x3/vertx-kafka-client/blob/e4b15db9003e060fdf8d20b4e6

[2017-10-10 14:46] doernemt opened #71 "seek operations might return wrong offset after a previous poll"
We noticed that, e.g., seekToBeginning might return a too-high offset if the client has been polling before.
Imagine something like this:
[code]
You would assume that seekToBeginning returns the offset 0, instead it will return a much higher value, because the consumer did start polling when consumer.handler was called. Then, seek does run (and indeed finds the correct offset), but because ```curr

[2017-10-11 09:22] doernemt opened #73 "vertx shutdown fails if an unassigned consumer is present"
We encountered the following problem:
if you have a verticle that instantiates a vertx KafkaConsumer and that consumer is never assigned to a topic, vertx won't be able to shutdown cleanly afterwards.

The reason behind is that KafkaReadStreamImpl won't call the completionHandler in its close() method if the consumer is in closed state -- which is the case here, because it hasn't been opened befor

[2017-10-11 13:11] #73 closed

[2017-10-11 13:13] vietj commented on #71
fixed by PR

[2017-10-11 13:13] #71 closed

[2017-10-11 13:14] vietj commented on #69
I think you should user a Vertx timer and if the timer has fired before the result, go on and discard the result

[2017-10-11 13:14] vietj commented on #68
can you provide a reproducer for this issue ?

[2017-10-11 13:18] vietj commented on #68
the thing is that `Handler<AsyncResult<Map<TopicPartition, OffsetAndMetadata>>>` is not polyglot, so if you need this feature you should use the the underlying stream with `consumer.asStream()`

[2017-10-11 13:18] #68 closed

[2017-10-11 13:18] #64 closed

[2017-10-11 13:41] plenderyou commented on #68
I'm not sure what you mean by 'it's not polyglot'
  /**
   * Commit current offsets for all the subscribed list of topics and partition.
   *
   * @param completionHandler handler called on operation completed
   */

The documentation says that after the commit call is made, the callback gets called. At the moment it doesn't

Using the underlying stream is a workaround I believe but it's still a b

[2017-10-11 13:43] plenderyou commented on #68
Also the signature in the original was wrong.

 @Override
  public void commit(Handler<AsyncResult<Void>> completionHandler) {
    this.stream.commit(completionHandler != null ? ar -> ar.map((Object) null) : null);
  }

the completion handler's handle method is never called

[2017-10-11 14:37] vietj commented on #68
oh right!

[2017-10-11 14:38] vietj commented on #68
so obvious I didn't see it

[2017-10-12 09:24] vietj opened #75 "Improve KafkaReadStream control"
Currently the `KafkaReadStream` delivers item by batch of `10` (this should be configurable btw). When doing seek operations, the stream needs to be paused otherwise the handler will likely receive unwanted records that have been fetch and are delivered by the batch. This seems due to the fact that the `current` iterator is accessed from the worker thread only, unlike the `paused` flag.

One way t

[2017-10-12 09:46] vietj commented on #69
also poll is event driven so that would not make much sense and I think the best is that you use timers as your you case seems specific, if you are timing out a consumer it means you are expecting data from the stream

[2017-10-12 09:46] #69 closed

[2017-10-12 09:49] doernemt commented on #69
I agree with @datafibers . The other effect of having a fixed poll timeout is that the performance of vertx KafkaConsumer is not as good as it could be. Consider the case that you start the consumer (via setting a handler) and after that you want to seek to a different position, pause, ... whatever. If the consumer does not receive data, the poll() operation will block the whole second until the E

[2017-10-12 10:15] vietj commented on #69
@doernemt good point, but it seems to be a different concern to me, @datafibers seems to need an application timeout, not related to internal reasons. go ahead with the PR

[2017-10-20 14:24] ppatierno opened #77 "Using new Admin Client API"
Using the new Admin Client API (starting from 0.11.0 version) implemented in Java instead of the old AdminUtils Scala used in the current status.

[2017-10-20 15:41] vietj commented on #75
@ppatierno what's your opinion on this ?

[2017-10-30 13:12] datafibers commented on #77
+1 up. The current AdminUtils is still  using zookeeper. Expect to see update to latest kafka admin client

[2017-10-30 13:29] hekonsek opened #78 "Client swallowing polling exceptions"
Hi @ppatierno,

I've found a small issue with `pollRecords` method (https://github.com/vert-x3/vertx-kafka-client/blob/master/src/main/java/io/vertx/kafka/client/consumer/impl/KafkaReadStreamImpl.java#L134). So right now if there is an exception during poll (for example here - https://github.com/vert-x3/vertx-kafka-client/blob/master/src/main/java/io/vertx/kafka/client/consumer/impl/KafkaReadStrea

[2017-10-30 17:03] vietj commented on #77
that would be so awesome to remove kafka, however we need to check the various upgraded versions such as Zookeeper, etc....

[2017-10-30 17:04] vietj commented on #78
yes we should do that, can you provide a test in the existings tests and someone will contribute the fix :-)

[2017-10-30 17:04] vietj commented on #78
I'm scheduling it for 3.5.1

[2017-10-30 17:10] ppatierno commented on #78
@hekonsek added on my to-do list but providing a test could be really useful as @vietj suggested ;)

[2017-10-30 19:35] doernemt commented on #77
I will look into it. Cannot promise a date, but I'll do my best. May be before 3.5.1 release, let's see.

[2017-10-30 22:09] hekonsek commented on #78
I've created pull request #79 with a fix and test covering the scenario I was referring to.

BTW It seems that `KafkaReadStreamImpl#exceptionHandler` invocation was ignoring handler passed as an argument. I fixed that as well.

So with my fix in place all exceptions generated during polling process will be nicely handled by `exceptionHandler{}`.

[2017-10-30 22:10] hekonsek commented on #78
Just one thing came to my mind - should we check if exception handler is null before calling it? I guess that it is optional, so it can be null.

[2017-10-30 22:13] hekonsek commented on #78
Yeah, we should do it. Added NPE check against exception handler.

[2017-10-31 08:30] ppatierno commented on #77
@doernemt no worries. I'm going to start to work on it. Thanks ;)

[2017-10-31 11:18] #78 closed

[2017-10-31 11:45] hekonsek commented on #78
Many thanks for review and merging, Paolo.

[2017-11-04 12:05] ppatierno commented on #70
It's fixed by 47b7b3dbc43f3e8bf7adb7da01cd088b6da424bc

[2017-11-04 12:05] #70 closed

[2017-11-20 19:55] tinselspoon opened #81 "NullPointerException when committed() called if there are no existing committed offsets present for the consumer group"
When calling `committed()` to retrieve the offsets for a consumer group, a `NullPointerException` may be thrown if the consumer group has not yet committed any offsets for that partition. This can be replicated by creating a consumer with a previously unseen group ID, and doing something like the following.

[code]
This will produce a NPE:
[code]

The code that is causing the issue appears to be i

[2017-11-21 11:55] ppatierno commented on #81
Thanks for reporting that, the fix is on its way and ready for being pushed.

[2017-11-21 13:24] #81 closed

[2018-01-03 20:50] jponge opened #85 "404 in the published documentation"
Reading http://vertx.io/docs/vertx-kafka-client/java/, links to external Javadoc API are broken. For instance there is a link to http://vertx.io/docs/apidocs/org/apache/kafka/clients/consumer/ConsumerRecord.html but the corresponding Javadoc isn't embedded.

Note (/cc @vietj this may happens to other Vert.x modules).

[2018-01-10 02:17] lonerzzz opened #86 "Kafka Consumer subscribe method eats exceptions producing no output"
I am using 3.4.2 of vertx and the kafka client for consuming events from a queue.

I have found that when some exceptions happen when attempting to subscribe to a topic via the following method in the KafkaReadStream class:

`public KafkaReadStream<K, V> subscribe(Set<String> topics, Handler<AsyncResult<Void>> completionHandler)`

the resulting exception gets caught by the catch (Throwable ex) blo

[2018-01-10 08:17] vietj commented on #86
can you give a try with Vert.x 3.5.0 ?

[2018-01-12 01:58] MartinNowak opened #87 "`KafkaConsumer.rxCommit(Map<TopicPartition, OffsetAndMetadata>)` missing"
Looks like sth. went wrong during codegen, both

    void commit(Map<TopicPartition, OffsetAndMetadata>, Handler<AsyncResult<Map<TopicPartition, OffsetAndMetadata>>>);

and

    Single<Map<TopicPartition, OffsetAndMetadata>> rxCommit(Map<TopicPartition, OffsetAndMetadata>);

are missing from `io.vertx.reactivex.kafka.client.consumer.KafkaConsumer` and `io.vertx.rxjava.kafka.client.consumer.KafkaCo

[2018-01-12 02:03] MartinNowak commented on #87
Workaround from https://github.com/vert-x3/vertx-rx/blob/65bcf1c87c0c74646d6bcc7354ae8d0d86b9efa8/rx-java2/src/main/resources/vertx-rxjava2/template/rxjava2.templ#L121-L125

[code]

[2018-01-12 07:12] vietj commented on #87
is the method annotated with `@GenIgnore` ?

[2018-01-12 09:03] ppatierno commented on #87
@vietj yes it is. I guess it's because this kind of Map with more complex types isn't supported by vertx-codgen. I read the following from the documentation :

type java.util.Map<String, C> where C contains
the set Basic
the set Json
the set Api

[2018-01-17 19:38] MartinNowak commented on #87
`Handler<AsyncResult<Map<TopicPartition,OffsetAndMetadata>>> completionHandler`
What's the trouble with template arguments? Shouldn't it just be the same as in the original code?

[2018-01-17 19:47] MartinNowak commented on #87
Ah, you're using reflection for this.
https://github.com/vert-x3/vertx-codegen/blob/7f8b20bc18ca585f43bdd9c1b7d412dd739eedc9/src/main/java/io/vertx/codegen/type/TypeReflectionFactory.java#L86-L94
Looks like it doesn't recurse for the arguments.

So this https://github.com/vert-x3/vertx-rx/blob/65bcf1c87c0c74646d6bcc7354ae8d0d86b9efa8/rx-java2/src/main/resources/vertx-rxjava2/template/rxjava2.templ

[2018-01-17 20:20] vietj commented on #87
it does not recurse argument because it would lead to a too complex implementation, the actual rx wrappers need to maintain the type arguments as reified types

if you need to access them, you should use getDelegate() to obtain the real java type and rewrap it using SingleHelper or RxHelper.

[2018-02-01 01:17] MrGarry2016 opened #88 "Add subscription via topics pattern"
when I use vertx Kafka consumer, I want to provide a Kafka topic pattern and the consumer can consume each topic that matches this pattern. This is useful when a new topic is created, it can be found automatically and consumed. Does vertx right now support this?

[2018-02-02 16:18] MartinNowak commented on #87
Unfortunately SingleHelper doesn't work here (it's vice versa) and RxHelper in rx-java2 has no observableFuture. So I'll stick with using the interal AsyncResultSingle for now.

Let me finally suggest that you create some dummy documentation entries (e.g. `void rxCommit()`) for `@GenIgnore` methods that state the fact that the method is missing and show the suggested workaround instead.

[2018-02-07 12:15] #48 closed

[2018-03-07 09:54] matzew opened #91 "Test failures"
my env:
[code]

I am getting this test failure:
[code]

[2018-03-07 10:51] vietj commented on #91
can you investigate what is going on ?

[2018-03-07 16:27] matzew commented on #91
ah, I just see it's not just a local thing here:

https://vertx.ci.cloudbees.com/view/vert.x-3/job/vert.x3-kafka-client/178/console

will take a look next days

[2018-03-13 11:10] Sammers21 opened #93 "Documentation for Scala is not clear"
While reading documentation dedicated to scala API http://vertx.io/docs/vertx-kafka-client/scala/ it is assumed that API can be consumed from the dependency:
[code]

Reproducer:
1. create a file Hello.scala
[code]
2. Download vertx-core: `wget http://central.maven.org/maven2/io/vertx/vertx-core/3.5.1/vertx-core-3.5.1.jar`
3. Download vertx-kafka-client: `wget http://central.maven.org/maven2/io/ver

[2018-03-13 12:52] Sammers21 opened #94 "Mouse pointing issue in documentation"
When i'm pointing my mouse on a code snippet [here](http://vertx.io/docs/vertx-kafka-client/scala/), a language name appear at the beginning of the snippet.

In this case my mouse is not pointing on the code snippet, so it's fine:
<img width="873" alt="image" src="https://user-images.githubusercontent.com/16746106/37342255-1296268c-26d5-11e8-9cc4-294c68264446.png">

In this case my pointer is on t

[2018-03-13 12:53] Sammers21 commented on #94
@vietj, is it seems to be a vertx-docgen issue?

[2018-03-13 13:03] Sammers21 opened #95 "Typed configuration for consumer"
Currently in order to consumer messages from Kafka you need to provide a class name for key and value deserialization.

I don't think that it is convenient, compiler will not help you to observe the error until you will run your application. I would propose to add a way for providing a consumer configuration for key and value  deserialization by providing instances of such deserializers.

[2018-03-13 13:04] Sammers21 commented on #95
I also thinking that the Producer API should have the same ability

[2018-03-13 14:21] vietj commented on #94
yes, we need to figure out where this happens (i.e is it in adoc files or when processing the site ?)

[2018-03-13 19:54] ppatierno commented on #94
I noticed this problem in all the code snippets on the Vert.x web site. Maybe we could close this one because it's not strictly related to this component.

[2018-03-13 19:54] #94 closed

[2018-03-13 19:56] ppatierno commented on #95
This is the way how the native Kafka client configuration work. Even if we allow to pass instant here, we won't use them but just get the fully qualified class name for passing it to the native Kafka client. For this reason I don't think that this makes sense.

[2018-03-13 20:11] Sammers21 commented on #95
@ppatierno, agree

[2018-03-13 20:11] #95 closed

[2018-03-14 06:42] vietj commented on #95
agreed also, we should keep kafka usage as close to the real kafka as possible

[2018-03-19 17:52] daka1510 opened #96 "TopicPartition should override equals() and hashCode()"
File:
- https://github.com/vert-x3/vertx-kafka-client/blob/master/src/main/java/io/vertx/kafka/client/common/TopicPartition.java

*Sample*
[code]

[2018-03-19 17:54] daka1510 commented on #96
*Impact:*
Turned out to be an issue whenever instances of `TopicPartition` are used as a key within a Map or Set (which is part of the consumer APIs).

[2018-03-19 18:12] vietj commented on #96
do you mind providing a patch ?

[2018-03-20 12:34] daka1510 commented on #96
@vietj - thanks for your prompt reaction. Can you review the attached PR?

[2018-05-07 07:08] bnjdpn opened #99 "Create a KafkaProducerRecord with headers"
Since Kafka 0.11.0.0, it's now possible to add headers to a record.
See : https://cwiki.apache.org/confluence/display/KAFKA/KIP-82+-+Add+Record+Headers#KIP-82-AddRecordHeaders-Status

Is it possible to create KafkaProducerRecord with headers ?

Thanks.

[2018-05-07 19:13] tsegismont commented on #99
@ppatierno can you please take a look? Thanks

[2018-05-14 11:49] SHammade opened #101 "Scala excluded from kafka-client and added only in scope test"
Hi,

as I see with 3.5.1 scala is only included in the scope test:
https://github.com/vert-x3/vertx-kafka-client/commit/6bbcc117ac8036d005c552e180079b4d0413b3c4#diff-600376dffeb79835ede4a0b285078036
and because of the excluding from kafka_2.12 org.scala-lang.scala-library is missing as a dependency.

regards,
Serbest

[2018-05-14 12:25] vietj commented on #101
@SHammade I think Scala is only used for utils in 1.0.0

[2018-05-14 12:25] vietj commented on #101
I've run 3.5.1 with Kafka client and it works fine for me (but I haven't used the utils)

[2018-05-14 14:11] SHammade commented on #101
Okay, I used the KafkaServerStartable for starting a lokal kafka to mock the remote server and its worked before without adding the dependencies.

[2018-05-14 14:15] vietj commented on #101
Kafka has started to rewrite the client without Scala but some parts (the utils) still rely on it I think.

[2018-05-14 14:16] #101 closed

[2018-06-05 09:23] owahab opened #104 "auto.offset.reset ignored"
Thanks to your awesome project, my consumer was up and running in minutes.

However, I needed to re-consume the entire queue so did a consumer-group offset reset, then started my consumer but it consumed only the last messages from the queue.

This is my config:
[code]

I tried disabling the auto commit, tried changing the consumer group but nothing worked.

What am I missing or doing wrong?

[2018-06-05 16:31] ppatierno commented on #104
I see the answer on SO as well, please don't duplicate the stuff :-)
Have you already tried what happens using the native Kafka client as consumer?

[2018-06-05 16:32] owahab commented on #104
@ppatierno just tried native consumer and it works as expected.

[2018-06-05 16:33] ppatierno commented on #99
The feature was added.

[2018-06-05 16:33] #99 closed

[2018-06-05 16:34] ppatierno commented on #96
Addressed by #97

[2018-06-05 16:34] #96 closed

[2018-06-05 16:34] ppatierno commented on #91
@matzew any news on that or I can close this issue ?

[2018-06-05 16:38] ppatierno commented on #104
can you post the configuration of the native consumer please?

[2018-06-05 17:00] matzew commented on #91
see here:
https://github.com/matzew/vertx-kafka-client/commit/6aaf117f7e52c7be99ea3104c0be50dc15fca32d

On Tue, Jun 5, 2018 at 6:34 PM, Paolo Patierno <notifications@github.com>
wrote:

--
Matthias Wessendorf

github: https://github.com/matzew
twitter: http://twitter.com/mwessendorf

[2018-06-06 07:46] ppatierno opened #105 "Add explicit poll method to the KafkaConsumer"
The current Vert.x Kafka client implementation is more stream oriented.
Using the underlying `KafkaReadStream` implementation, the related `KafkaConsumer` implementation just provides and handler to be registered in order for the upper level application getting messages after subscription. The internal implementation does the polling periodically.
I'd like to expose the poll in order to give users

[2018-06-06 08:31] vietj commented on #105
is the poll blocking or is it an asynchronous poll, i.e `void poll(Handler<AsyncResult<Result>>)` ?

[2018-06-06 08:44] ppatierno commented on #105
The native Kafka poll is blocking but of course for the KafkaConsumer in the Vert.x client I would expect a signature like you suggested. The internal behaviour should be quite similar to the private pollRecords method that we have in the KafkaReadStream.

[2018-06-06 09:23] vietj commented on #105
that sounds a good option to me to provide a non stream version as well.

[2018-06-06 12:41] owahab commented on #104
@ppatierno it's the exact same config I used with vertx-kafka-client.

[2018-06-11 12:24] marco-admyre commented on #88
As consumer.consume(Pattern... is part of the Kafka client lib it should really be exposed to the Vertx side too.

[2018-06-15 20:35] matzew opened #108 "BufferSerializer not able to work with"

[2018-06-15 20:36] matzew opened #109 "BufferSerializer not able to work with "core" Buffer"
When using the rx-java2 package, the IDE suggests using the `reactivex` package for various classes, including Buffer. However that's not really working, when using the BufferDeserializer.

[code]

[2018-06-15 20:38] matzew commented on #109
I think using the `core` one is fine, but it's not 100% clear to me why the CodeGen does generate the other one for `reactivex`.

Question: should the Deserializer work w/ the `reactivex` one? or should it be "leveraging" the codegen mechanism ?

[2018-06-15 21:58] vietj commented on #109
I believe we need to have a specific serializer for code code buffer wrapper or find another solution

[2018-07-22 20:20] lonerzzz commented on #86
Finally got back to this. The issue is bigger than just the implementation of this code and is an issue with how the java.util.concurrent code FutureTask is implemented and used. However, in this case, the cause is with the KafkaReadStream start method creating a single thread executor with the Executors.newSingleThreadExecutor() method. The resulting ThreadExecutor and FutureTask implementations

[2018-09-04 08:46] emasab opened #112 "Lost messages while consuming multiple partitions with one consumer"
I'm experiencing lost messages while using a consumer subscribed to multiple partitions . The problem happens with batches of messages of more than 10 messages.

What happens is that for some partitions only a multiple of 10 messages is received instead of receiving the complete batch for that one.

I've seen that putting a conditional breakpoint in class KafkaReadStreamImpl at this line

[code]

[2018-09-04 15:59] ppatierno commented on #112
Is it feasible for you writing a test case which highlights the failure without your fix?

[2018-09-11 06:48] emasab commented on #112
The issue happens with a single partition as well as multiple, when more batches are received one after one, but it usually happens when using a pause - commit - resume cycle.

[2018-10-18 21:00] emasab commented on #112
solved by https://github.com/vert-x3/vertx-kafka-client/pull/113

[2018-10-18 21:00] #112 closed

[2018-10-26 11:35] mouse256 opened #114 "NullPointerException if kafka producer has partitions that have no leader"
If kafka is in a unhealthy state and has partitions that currently don't have a leader, it will make the kafkaproducer crash with a NullPointerException.
I believe those partitions should be ignored in that case.

Stacktrace that happens in that case:
`ERROR i.v.c.i.ContextImpl - Unhandled exception {}
 java.lang.NullPointerException: null
 at io.vertx.kafka.client.common.impl.Helper.from(Helper.j

[2018-10-26 12:14] ppatierno commented on #114
Thanks for reporting, I'll look into this.

[2018-11-10 11:40] dawinter opened #115 "CVE-2018-1288 for dependency kafka_2.12-1.0.0"
The current io.vertx:vertx-kafka-client 3.5.4 defines the dependency kafka_2.12-1.0.0

kafka_2.12-1.0.0 has published Vulnerabilities.

CVE-2018-1288
https://nvd.nist.gov/vuln/detail/CVE-2018-1288

Please update. Thanks.

[2018-11-13 11:41] dawinter commented on #115
@vietj  Hello Juliet, is there any outlook or timeline for the update?

[2018-11-13 13:02] vietj commented on #115
I think we need to check how the dependency override works with the current Kafka API.

The upgrade should happen at least in master for 3.6

[2018-11-13 23:20] dawinter commented on #115
Thanks for the information. If you have updates please let me know.

[2018-11-14 18:54] vietj opened #116 "Upgrade to Debezium 0.8.3.Final and Kafka 1.1.0"

[2018-11-14 18:55] #116 closed

[2018-11-14 18:58] #115 closed

[2018-11-14 18:58] vietj commented on #115
see https://github.com/vert-x3/vertx-kafka-client/issues/116 thanks for reporting.

[2018-11-14 20:17] dawinter commented on #115
Thanks for the fast work.
Just for the record here: #116 updates kafka_2.12-1.0.0 to kafka_2.12-1.1.0 (Mar, 2018)

[2018-11-15 09:10] ppatierno commented on #105
Closed by #106

[2018-11-15 09:10] #105 closed

[2018-11-19 12:11] anhldbk commented on #75
@vietj Is `pause` a good way to handle slow consumers? Under a certain case, invoking `pause` will trigger operations on revoking/assigning paritions, right?

[2018-11-19 15:19] anhldbk commented on #88
@MrGarry2016 I'm afraid not. Vertx implementation is just a layer on top of Apache Kafka Consumer which does NOT support consume messages by topic patterns

[2018-11-19 16:00] anhldbk commented on #114
@ppatierno Following this [post](https://news.ycombinator.com/item?id=15604686), I think we should have checks in the [loop](https://github.com/vert-x3/vertx-kafka-client/blob/master/src/main/java/io/vertx/kafka/client/producer/impl/KafkaProducerImpl.java#L158-L171)

[code]
We also need to fix that logic in `KafkaConsumerImpl`.

Should I make a PR with the approach above?

[2018-11-19 16:03] marco-admyre commented on #88
This is part of the consumer so would it not be possible to use it
[code]

Taken from:

(https://kafka.apache.org/20/javadoc/index.html?org/apache/kafka/clients/consumer/KafkaConsumer.html)

[2018-11-19 16:06] anhldbk commented on #88
@marco-admyre Sorry for my outdated knowledge about Kafka Consumers.

It's a good idea to make a PR against this issue!

[2018-12-14 10:57] Seraksab opened #118 "Lost records on frequent commits and pause/resume"
Hi

We are currently experiencing lost records from kafka that are not delivered to the registered data handler.
We did some further investigating and testing and there probably seems to be an issue on how commits are handled.

Our general procedure looks the following:
- read records up until a certain threshold
- call _pause_ on the consumer
- process the batch of records
- call _commit_ on cons

[2018-12-14 11:40] vietj commented on #118
@ppatierno ping

[2018-12-17 09:03] Seraksab commented on #118
Just a clarification on the last part concerning the exception, as reading it back made me realize it was expressed pretty inaccurately.

The excpetion was a result of the following snipped:
(as stated due to our attempt on waiting for the commit callback and having a timeout as the callback seems not to be called reliably)

[code]

As soon as the timer fires and completes the future, the exceptio

[2018-12-17 09:20] vietj commented on #118
can you provide tests for this ?

[2018-12-20 10:48] ppatierno commented on #118
sorry to be late guys, I am taking a look at it right now

[2018-12-20 10:54] ppatierno commented on #118
@Seraksab I also read ...

However the passed handler is never called.

It seems to be a different bug. Did you notice this one in your use case only or in general?

[2018-12-20 11:04] ppatierno commented on #118
@Seraksab the example is not usable as it is because it has some classes that I guess come from your application (GenericData, Kafka.ValueHandler, ...) but I will try to change it a little bit for reproducing the issue.

[2018-12-20 11:16] ppatierno commented on #118
@Seraksab I changed my mind, I think it's better having from you something that we can actually running in a simpler way. I would remove the schema registry dependency as well, using messages with key and values as strings. Is it something you can provide?

[2018-12-20 11:48] ppatierno commented on #104
@owahab the `auto.offset.reset` config parameter defines what to do when there is no initial offset in Kafka or if the current offset does not exist (as stated by the Kafka doc). It means that when you start the consumer for the first time, there is no offset committed and it starts to get messages. If you stop the consumer and then you start it again with "earliest", because the committed offset

[2018-12-20 11:51] ppatierno commented on #91
@matzew is this still an issue or we can close it? I don't see test failures on the CI.

[2018-12-20 12:39] Seraksab commented on #118
@ppatierno

So far I only noticed this in this specific use case.
However, we did not make use of this completion handler prior to this issue, so it's hard to tell.

Sorry, my fault. I just quickly stripped our internal test down and seem to have missed a few classes.
I have them removed now and also got rid of the schema registry and also simplified messages to strings, as you requestest.
Oddly e

[2018-12-20 14:37] ppatierno commented on #62
@vietj do you think can we close this one?

[2018-12-20 15:37] #85 closed

[2018-12-20 15:46] vietj commented on #62
I think yes

[2018-12-20 15:52] #91 closed

[2018-12-20 15:54] #62 closed

[2019-01-07 10:43] Seraksab commented on #118
@ppatierno

just a quick follow up on the commit handler not beeing called.
this can be reproduced quite easily and i extracted it into this short test, that does nothing but call 'pause()' and 'commit()' after some time.

In my case this always runs into the set timeout without the specified completionHandler being called.

However, removing the 'pause()' call seems to resolve this issue and the

[2019-01-09 07:57] jiangchuan185 opened #120 "vertx-kafka (eventloop execute callback) is not the same one ( eventloop execute producer.write)"
when execute kafak producer write() method，eg: eventloop-1-5 execute wirte method,but the callback is executing in eventloop-3-5, in write method ,i think should add a line like
Context context = vertx.getOrCreateContext();  -->this line is get current eventloop context,
then execute context.runOnContext() method. without this line , it will cause thread safety problems

reference vertx-mongo code

[2019-01-09 07:57] vietj commented on #120
ping @ppatierno

[2019-02-14 21:36] barbarosalp commented on #114
For my case `done.result()` NullPointerException when I call rxPartitions for a non-existing topic with `auto.create.topics.enable=false`

[2019-02-26 11:13] #77 closed

[2019-02-27 17:46] ppatierno opened #123 "Add listing and describing consumer groups to the admin client"
This issue is about adding the listing and describing consumer groups feature from the related native `listConsumerGroups` and `describeConsumerGroups` methods

[2019-03-03 14:16] ppatierno commented on #123
Closed by #124

[2019-03-03 14:16] #123 closed

[2019-03-11 11:13] ppatierno opened #126 "Admin client topic creation doesn't take care of topic configs"
The topic configuration is not taken into account when a new topic is created.

[2019-03-11 11:47] ppatierno commented on #126
Closed by #127

[2019-03-11 11:47] #126 closed

[2019-03-28 04:04] ye32007 commented on #88
Has the problem been solved ？

[2019-04-26 08:53] ppatierno opened #129 "Doing a commit without registered handler hangs forever"
Instead of registering a handler on the consumer, it's possible to use the `poll` method for getting records.
If so, when the `commit` method is used for committing offsets, the underlying Kafka native client callback is never called so it doesn't raise up to the Vert.x chain.
It happens because in the Kafka native consumer, calling the callback happens asynchronously (when `commitAsync` is used a

[2019-04-26 09:50] #129 closed

[2019-04-27 13:50] ppatierno opened #131 "Doing a poll without partitions assigned raise an NPE"
After creating a Kafka consumer, if a `poll` is called without assigned partitions (so without calling a `subscribe` or `assign` before), the `worker` instance in the underlying stream implementation is still `null` so an NPE is raised.

[2019-04-29 12:23] ppatierno commented on #88
@ye32007 @anhldbk @marco-admyre there is PR #132 to address this one now.

[2019-04-29 12:54] #88 closed

[2019-05-05 10:32] vietj opened #133 "Port admin client to master"
Currently the new admin client is in 3.7 branch and not in master.

[2019-05-05 14:40] ppatierno commented on #133
@vietj it sounds really strange. I added the new admin client alongside the old one on 3.7 marking it as deprecated. I added new client on master as well and removing the old one. I am quite sure about that. What happened?

[2019-05-05 14:47] vietj commented on #133
I don't know either I haven't investigated but it seems it is not there right ?

[2019-05-05 14:58] ppatierno commented on #133
It's here on master:

https://github.com/vert-x3/vertx-kafka-client/blob/master/src/main/java/io/vertx/kafka/admin/KafkaAdminClient.java

with the related implementation:

https://github.com/vert-x3/vertx-kafka-client/blob/master/src/main/java/io/vertx/kafka/admin/impl/KafkaAdminClientImpl.java

[2019-05-05 15:51] vietj commented on #133
my bad my copy was not up to date and I thought I updated it sorry for the noise

[2019-05-05 15:51] #133 closed

[2019-05-13 17:01] vietj opened #134 "Kafka client write/send changes"
Currently the Kafka write overloaded method provides as async result the record metadata `write(KafkaProducerRecord<K, V>, Handler<AsyncResult<RecordMetaData>>`.

Vert.x `WriteStream` defines so far the `write(KakfaProducerRecord<K,V>` method which gets overloaded with `write(KafkaProducerRecord<K, V>, Handler<AsyncResult<Void>>` in 3.7.1 as part of an improvement for write streams.

We need to re

[2019-05-13 17:01] #134 closed

[2019-05-14 14:10] pwittchen opened #135 "Links in documentation in README.md are broken"
All Links in documentation in `README.md` in this project are broken.

[2019-05-15 19:22] ppatierno commented on #135
It seems that docs for other languages are missing. @vietj why is that?

[2019-05-24 05:40] ppatierno opened #137 "Add seek method with OffsetAndMetadata as parameter"
Other than having the current `seek` method which allows providing the offset as a `long`, we should add an overload providing much more information as the Kafka native client passing a `OffesetAndMetadata` instance as parameter.

[2019-06-04 13:56] ppatierno opened #138 "Update to native Kafka 2.3.0 breaks testPollExceptionHandler test"
Trying to bump the Kafka version to something new like 2.2.0 (or 2.2.1) highlighted the following issue.

The test `ConsumerTestBase.testPollExceptionHandler` times out because the `consumer.exceptionHandler` is never called (so the assertion is never checked).
It happens because when the `consumer.subscribe` is called in that test and down the chain the `KafkaReadStreamImpl.subscribe` calls the n

[2019-06-10 09:44] ppatierno opened #139 "Handler not called on synchronous exceptions raised on sending"
The `KafkaWriteStreamImpl.send` method uses the native `producer.send` for sending messages providing a callback and based on the result and/or error, it then calls the `exceptionHandler` and the `handler` passed by the user.
By the way, the `producer.send` can raise exceptions in a synchronous way (i.e. when sending to a not existing partition).
In this case, the exception is caught, the `excepti

[2019-06-13 09:24] #139 closed

[2019-07-29 14:28] vietj opened #144 "Minor API fixes"
Currently the API has a few minor issues:

- missing fluent annotation
- some impl package are annotated with vertxgen
- missing covariant fluency

[2019-07-29 14:43] #144 closed

[2019-07-29 14:44] vietj opened #145 "Flush operation should use a proper asynchronous result"
Currently flush operations use a `Handler<Void>` as asynchronous result, instead it should be `Handler<AsyncResult<Void>>`.

[2019-07-29 14:45] #145 closed

[2019-07-29 14:48] vietj commented on #145
https://github.com/vert-x3/wiki/wiki/4.0.0-Deprecations-and-breaking-changes#%EF%B8%8F-vertx-kafka-client has been updated

[2019-07-29 14:54] vietj opened #146 "Futurise the Kafka Client"
This is part of Vert.x 4 futurisation effort, this in practice affects:

- consumer / read stream
- producer / write stream
- admin client

Some fluent methods have been updated to return a `Future` instead of being the fluent type and new methods have been added to return a `Future`.

[2019-07-29 14:55] #146 closed

[2019-08-13 14:58] #138 closed

[2019-10-01 12:03] mswiderski opened #149 "Interrupted exception on shutdown on Kafka producer"
This issue originates from Quarkus application using `quarkus-smallrye-reactive-messaging-kafka`. It is thrown for each and every producer that is created within the application thus occurs  multiple times.

[code]

Application does not experience any issues and works as expected but this message might be seen as a concern especially that it's printed as ERROR

[2019-10-01 12:52] vietj commented on #149
it seems this logging is not performed by Vert.x but by Kafka Client:

[code]

one interesting question is : what is the thread interrupting the close thread ? can you determine that ?

[2019-10-01 13:06] mswiderski commented on #149
correct, it is in Kafka client. the idea from @cescoffier was to hide the exception https://groups.google.com/d/msgid/quarkus-dev/D37E26E9-9CDE-41B9-9E95-B353B750AD06%40gmail.com

let me try to find out what thread is interrupting ....

[2019-10-01 15:11] mswiderski commented on #149
@vietj here is what I found so far

[code]

this seems to be the one calling interrupt and then propagating that to other parts that trying to shutdown gracefully. does this help or shall I dig more?

[2019-10-01 15:28] vietj commented on #149
yes this helps, to figure out what is going on.

This happens because of this in `KafkaSink` : https://github.com/smallrye/smallrye-reactive-messaging/blob/master/smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/KafkaSink.java#L144

When the application is shutdown then the `KafkaSink` is shutdown concurrently because it does not wait for the completion. Since t

[2019-10-01 15:29] #149 closed

[2019-10-22 07:22] Graywd opened #150 "Does the client support the param “schema.registry.url”?"

[2019-10-22 08:43] #150 closed

[2019-11-04 20:19] danielprinz opened #154 "Kafka consumer should use poll with Duration as parameter"
# Motivation

KafkaConsumer `.poll(long timeout)` was deprecated with kafka v2.0. Regarding the java docu it fixes a problem of indefinite blocking behaviour: https://cwiki.apache.org/confluence/x/5kiHB.

# Acceptance Criteria
* Migrate `.poll(long timeout)` and use `.poll(Duration timeout)` instead

[2019-12-07 19:40] anthonyshull opened #156 "allow .subscribe(Pattern ...) in KafkaConsumer"
Moved from vertx-rxjava. Allow the KafkaConsumer.subscribe(Pattern pattern) signature to be used in rxjava2.

[2019-12-07 19:43] anthonyshull commented on #156
I believe this can be done just by changing @GenIgnore to @GenIgnore(GenIgnore.PERMITTED_TYPE)? Are there published contribution guidelines?

[2019-12-21 14:14] gmcrobert opened #158 "Admin Client API is behind current Kafka Admin Client"
It looks like the Vertx Kafka Admin Client API has not been updated since the initial move to using the Kafka Admin Client which appears to have been based on Kafka 0.11.0. The API has grown quite a lot since then and it would be useful to use some of the newer APIs in a consistent way through Vertx. Can I offer to update the Vertx Kafka Admin Client API to support a Vertx version of the full Kafk

[2020-01-02 15:42] ppatierno commented on #158
Any community effort is always welcome! :-)
I would start from the current supported 2.3.0 (even if the 2.4.0 is alredy out) and let's see how the PR evolves. Thanks!

[2020-01-02 15:42] ppatierno commented on #156
@vietj any thoughts?

[2020-01-05 14:37] komalbb opened #159 "Kafka Stream API in vertx Kafka client"
Is there a plan to support Kafka Stream API in vertx Kafka client?

[2020-01-05 15:21] komalbb commented on #159
It's seems already supported.

[2020-01-07 08:44] aesteve opened #160 "Documentation links are broken in README"
In `README.md` documentation links for Java, etc. are broken and end-up in 404 error.

[2020-01-07 09:06] #160 closed

[2020-01-07 10:28] aesteve commented on #159
Good question, not sure how the client is implemented, but maybe it would require a huge effort if this client re-implements Kafka primitives at protocol level.

One thing I'm wondering, too, is that a lot of stream processing is designed to be "synchronous", blocking, (and even sequential), not sure how it would mix-up with Vert.x design.

Take the following into consideration:

You're reading a

[2020-01-07 10:36] aesteve opened #162 "Upgrade to Kafka 2.4.0"
Kafka 2.4.0 [has been released](https://www.apache.org/dist/kafka/2.4.0/RELEASE_NOTES.html) in december.

Not sure what the strategy of version alignment would be? Example of antagonist approaches:
* next major Vert.x upgrade (4.0.0) is used to also align with Kafka 2.4?
* publish two versions: `io.vertx:vertx-kafka_2.3:3.8.4` and  `io.vertx:vertx-kafka_2.4:3.8.4` like Scala does, for instance

No

[2020-01-18 10:15] ppatierno commented on #162
In general we always want to have latest Kafka version but before doing a simple pom file updated to the latest, you need to check that the entire Vert.x stack is not broken due to this update because it could need an updates in some other projects like the ZK cluster manager.

[2020-02-19 14:25] IRQs commented on #156
Is there a technical reason why this functionality has been disabled in the generation of the reactive Kafka client?

[2020-02-28 11:29] Steve-Dare opened #167 "No close method on KafkaAdminClient"
There is no close method on the KafkaAdminClient. When I run my application that creates Admin Clients I see an increase in the number of threads active in the application.

Is this an oversight, or is there another mechanism of closing Admin Clients?

[2020-02-28 11:51] vietj commented on #167
@ppatierno

[2020-03-03 10:38] ppatierno commented on #167
Thanks for raising this, I am on it.

[2020-03-06 15:31] ango-dev commented on #53
This also prevents sending heartbeats which triggers consumer group rebalance on kafka side when pause duration exceeds `heartbeat.interval.ms`. So this should be fixed, not just documented.

[2020-03-16 08:38] gmcrobert commented on #158
@ppatierno I think I will have some time to spend on doing this in the next few weeks. Three quick questions. Is it better to submit as a number of small PRs rather than the whole lot in a single PR and is there a preference of the order in which I should do them?

Third question, is there a pattern to determine which Kafka objects have vertx equivalents or are all the Kafka objects used by the AP

[2020-03-17 10:20] #167 closed

[2020-03-23 08:28] ppatierno commented on #158
@gmcrobert that's cool!
Regarding PRs, having more small of them is simpler for reviewers and could speed up the process in order to have a feature merged into the library. So I would go in this direction instead of a huge big PR.
Every native Kafka object exposed through the API should be mapped to a corresponding Vert.x equivalent.
Regarding the PR, you should open them against the master but th

[2020-03-24 08:11] valeriodurante opened #170 "Kafka Consumer batchHandler() not working unless handler"
Hi all,
I think this might be a bug, but if it's not maybe it's a wrong report.

### Questions
I try to use the batchHandler, but with no success. Apparently the client connects to kafka server but doesn't want to read messages.
I searched the problem on the web and I found this solution:
https://groups.google.com/d/topic/vertx/Rz984-m11bU
infact, with both handler and batchHandler all works fine.

[2020-04-01 06:06] gmcrobert commented on #158
@ppatierno here is the first set of apis. The testing is a little challenging because the kafka cluster is created in the `beforeClass` annotated method so the tests have the potential to impact each other. If I am completely off the mark on the tests can you give me some guidance please. I couldn't find a lot of examples using the debezium test classes so had to resort to reading and understandin

[2020-04-21 17:23] gmcrobert commented on #158
@ppatierno sorry to nudge you but will you have a chance to glance over that PR so that I can get an idea whether it is in line with what is needed and I can then carry on with the next set of APIs?

[2020-04-29 20:49] ppatierno commented on #158
@gmcrobert sorry for the huge delay!! Finally, I had a first pass.

[2020-05-12 07:15] gmcrobert commented on #158
@ppatierno I have modified the PR and it is ready for review again please.

[2020-05-13 23:35] barryzhounb commented on #170
Version: compile group: 'io.vertx', name: 'vertx-kafka-client', version: '3.9.0'

Consumer batchHandler()  doesn't work, but Consumer handler() works.

[2020-05-19 11:17] aesteve commented on #86
I tried to reproduce the issue here: https://github.com/aesteve/vertx-kafka-subscribe-reproducer

[2020-05-19 18:33] katheris opened #172 "Unable to create Producer with latest 4.0.0. snapshot after parent pom change"
### Version

Latest 4.0.0 snapshot

### Context

My application gets an unhandled exception when called KafkaProducer.create:
[code]

### Do you have a reproducer?

Project seeing the error:
https://github.com/ibm-messaging/kafka-java-vertx-starter

### Steps to reproduce

1. Clone the above project
2. Run `mvn package`
3. Run `java -jar target/demo-0.0.2-SNAPSHOT-all.jar`
4. See exception

Workar

[2020-05-19 18:56] vietj commented on #172
a new snapshot should be deployed, I think it is because removeCloseHook signature changed the return type from boolean to void

[2020-05-19 19:14] vietj commented on #172
it should be ok now, can you give a try ? https://travis-ci.org/github/vert-x3/vertx-kafka-client/builds/685847369

[2020-05-20 08:17] katheris commented on #172
@vietj it still seems to be happening, even though it looks like maven is pulling the new version:
[code]

[2020-05-20 08:21] katheris commented on #172
I wonder if it's because some of the other vertx dependencies are pulling in other versions:
[code]

[2020-05-20 09:39] vietj commented on #172
currently working on improving close hooks in master, so yes this is broken

I fixed it, it should be fine now.

[2020-05-20 10:03] katheris commented on #172
I've validated it's working now, thanks for sorting it

[2020-05-20 10:03] #172 closed

[2020-05-25 15:52] #154 closed

[2020-05-25 16:23] ppatierno commented on #86
@vietj did you see this?

[2020-05-25 20:20] vietj commented on #86
yes we should do something

[2020-06-22 21:08] barryzhounb commented on #170
Hi guys,
Any update?  batchHandler doesn't receive any message from Kafak broker.

[code]

[2020-06-24 08:54] vietj commented on #170
can you investigate @ppatierno ?

[2020-07-14 07:44] fangwohung opened #178 "Kafka client consumer handler() not receive message after exception"
I'm using vertx-kafka-client 3.9.1.
When i meant to send a message ("abc") to consumer, i got an exception in handler function. After that, i tried to send another message ("xyz"), but my handler function didnt receive the message.
Is it a bug ? It should have received a new message despite exception in handler function.
[code]

[2020-07-14 17:28] barryzhounb commented on #170
Hi @vietj , I saw this issue was put in 3.9.2 milestone, thanks a lot. I am wondering when the fix can be released ? Because we are awaiting its fix. Currently, our project was blocked by it because Kafka consumer does not support batch handler. Or, it there any workaround for batch handler.

[2020-07-15 08:11] ppatierno commented on #170
@barryzhounb @vietj I have no bandwidth right now to investigate this sorry. If it's a real blocker for you, we are happy to accept a PR with a fix and I will be happy to review. At the end it's open :-)

[2020-07-15 08:20] yogs95 opened #179 "resume and pause in KafkaConsumer (reactivex) are not working as expected and causing rebalancing of consumer group"
### Questions
resume and pause in KafkaConsumer (reactivex) are not working as expected and causing rebalancing of consumer group
### Version
3.6.0
### Context
It is causing rebalacing of consumer when resume interval exceeds `max.poll.interval.ms` as per the documentation of client resume should not cause the rebalance
### Do you have a reproducer?

Steps:
1. set `max.poll.interval.ms` to 10 seco

[2020-07-16 23:54] barryzhounb commented on #170
Hi @ppatierno and @vietj , I never fix the issue in the vertx, however, you can point out the files that are related to batch handler, I can figure out the issue and try to fix. Thanks.

[2020-08-13 08:31] #162 closed

[2020-08-13 08:32] ppatierno opened #182 "Upgrade to Kafka 2.6.0"
This PR fixes #182 for master.

[2020-08-14 19:13] barryzhounb commented on #170
Hi @vietj , any updates for this issue?

[2020-08-18 14:13] vietj commented on #170
it is expected that batchHandler will not trigger reading from Kafka,

have you tried calling `stream.resume()` instead of setting an handler ?

[2020-09-18 10:35] jotak opened #184 "Support OpenTracing, inject normalized traces"
It would be nice to have traces automatically injected on Kafka event sent and received, with some normalized tags.
Something similar to this: https://github.com/opentracing-contrib/java-kafka-client

(Implementation details to be discussed... apparently should be done by implementing the Tracing SPI)

PS: I can take care of that

[2020-09-18 10:59] jotak commented on #184
Semantic conventions: https://github.com/opentracing/specification/blob/master/semantic_conventions.md
Expecting to see in particular:
- `message_bus.destination` (topic)
- `peer.address` and/or `peer.hostname` (kafka address/hostname)
- `peer.service` ("kafka")
- `span.kind` ("producer" or "consumer")

[2020-10-21 11:19] tclarke-scottlogic opened #189 "NoSuchMethodError when creating KafkaConsumer"
Error:
On line:
[code]

with this exception

[code]

### Version

Vertx version: 3.4.2
Vertx-Kafka version: 3.9.4

### Context

Constructing a Consumer:
[code]

[2020-10-22 20:15] vietj commented on #189
do you have a reproducer project ?

[2020-10-27 19:38] #184 closed

[2020-11-11 14:34] sknot-rh commented on #182
I think https://github.com/vert-x3/vertx-kafka-client/pull/183 did not properly linked this. This should be closed.

[2020-11-11 14:35] #182 closed

[2020-11-11 14:38] sknot-rh commented on #86
Is there any progress done?

[2020-11-11 14:40] sknot-rh commented on #108
This seems to be a parent of https://github.com/vert-x3/vertx-kafka-client/issues/109 :)

[2020-12-11 11:09] vietj commented on #189
it looks like a classpath issue

[2020-12-11 11:09] #189 closed

[2021-01-11 08:13] cescoffier opened #192 "Kafka Admin Client `close` does not report completion"
[code]

The `executeBlocking` to not report the completion on the right promise.

[2021-01-11 08:14] cescoffier commented on #192
This is blocking the integration of Vert.x 4 in SmallRye Reactive Messaging and so Quarkus.

[2021-01-11 08:18] cescoffier commented on #192
Also, it needs to handle failure (as close may fail in some rare situations).

[2021-01-12 14:16] #192 closed

[2021-01-12 17:45] sheldon-markk commented on #178
+1

[2021-01-12 17:45] sheldon-markk commented on #178
+1

[2021-01-19 16:40] cescoffier opened #194 "High load when broker become unavailable"
The consumer runs into a poll loop when the broker becomes unavailable.
That introduces a high load on the system, and may even kill the application when the CPU usage exceeds the quota.

### Version

3.9.5

### Context

Just a simple consumer (as a stream) and close the broker while polling record.

### Steps to reproduce

1. Create a consumer and consume the records as a stream
2. Close the brok

[2021-01-20 06:33] cescoffier commented on #194
I also noticed that sometimes the high-load happens after a metadata retrieval failure, as it poll constantly (without getting any records).

[2021-01-20 08:43] tsegismont commented on #194
Does this apply to 4.0 too?

[2021-01-20 13:07] cescoffier commented on #194
Yes, for both. The code didn't change much around that area.

[2021-01-21 17:09] tsegismont commented on #194
@cescoffier can you help creating a small reproducer? I tried:

[code]

But when I stop the broker, my system load remains low.

Thanks

[2021-01-21 18:36] cescoffier commented on #194
We have this one: https://github.com/quarkusio/quarkus/issues/14366
It also does it with the kafka quickstart. I was able to reduce the load on the producer and admin side, but for the consumer, it runs in a poll loop, rescheduling a poll immediately (`schedule(0)`).

It happens after ~ 1 minute after the shutdown of the broker.

[2021-01-22 08:28] tsegismont commented on #194
@cescoffier thanks I'll try again tomorrow. I had only stopped the broker, perhaps that's why I was not able to reproduce.

Yeah I suspected this is due to the error handling in that method that keeps rescheduling. But if you can't reproduce, you can't be sure it's fixed :wink:

[2021-01-22 09:41] tsegismont commented on #194
@cescoffier I tried again without success. No CPU spike with both 3.9.4 and 4.0.0.

I added some logging with the debugger, the `pollRecords` method is invoked every second (which I guess matches the Kafka library's default).

[2021-01-22 09:57] tsegismont commented on #194
@cescoffier actually this 1 sec timeout is the poll timeout defined on `KafkaReadStream`. Perhaps this has been set to zero in with `io.vertx.kafka.client.consumer.KafkaReadStream#pollTimeout(java.time.Duration)`?

There is no protection in our code to make sure the value is strictly positive.Perhaps we could do that.

[2021-01-22 10:16] cescoffier commented on #194
It's a tricky one. It took me 5 times to have one "high-load" (~50%).
It always happens after:

[code]

This is passed to the exception handler of the KafkaReadStream.

Let me try to set the pollTimeout to a higher value to see if that's improve it.

[2021-01-22 10:24] cescoffier commented on #194
No same things with a pollTimeout set to 10 seconds.

What I'm seeing is located in https://github.com/vert-x3/vertx-kafka-client/blob/master/src/main/java/io/vertx/kafka/client/consumer/impl/KafkaReadStreamImpl.java#L155-L173

1. As the broker is down, it gets an empty set of records, and so submitted is kept to false
2. The finally block enqueues the next task without delay, and it just goes thr

[2021-01-22 10:27] slinkydeveloper commented on #86
Is this still valid in 4.x where the ThreadPoolExecutor was changed?

[2021-01-25 16:24] tsegismont commented on #194
@cescoffier I tried with the `kafka-quickstart` of Quarkus without success. (Note that in `master` branch it uses Vert.x 3.7)

I see which method you're talking about but:

I can't get to reproduce this

This does not match my observation: when `pollRecords` is invoked, it returns an empty set of records **after** the timeout as expired, not immediately.

Looking at the code again, the only way I

[2021-01-25 18:48] cescoffier commented on #194
The exception handler gets a timeout exception about the metadata retrieval.

BTW, you need to try the development branch on the quickstart repository.

[2021-01-29 09:57] tsegismont commented on #194
@cescoffier today I was able to reproduce on the development branch of the quickstart repo. I will come back to you soon.

[2021-01-29 16:24] tsegismont commented on #194
I can't reproduce anymore when I force the `kafka-clients` version to `2.6.0`. Can you?

With version `2.5.0`, I did some debugging and it seems after the 60s delay that you mentioned the Kafka client goes into a broken state (tight loop in `pollRecords` that also keeps waking up the heartbeat checker).

[2021-01-31 17:38] cescoffier commented on #194
That's interesting, I actually didn't try with 2.6 as at the moment I'm stuck with 2.5. I will try with 2.6 and see if we can manage to update.

I completely agree about the "broken state", very odd behavior.

[2021-02-01 08:37] cescoffier commented on #194
@tsegismont I confirm. I just updated locally to 2.6 and the issue is gone!

Closing this one, now, let's try to bump the kafka version in Quarkus.

[2021-02-01 08:37] #194 closed

[2021-02-08 21:57] jcguion opened #196 "Uptake Apache Kafka client to latest version"
### Questions

We observed high CPU usage from an idle Kafka consumer and isolated the issue to a known problem that has been fixed in the Apache Kafka client ([KAFKA-10254](https://issues.apache.org/jira/browse/KAFKA-10254) & [KAFKA-10134](https://issues.apache.org/jira/browse/KAFKA-10134)) and made available as version 2.6.1 (current Vert.x Kafka dependency is on 2.6.0).

### Version

3.9.3, alt

[2021-02-09 07:26] vietj commented on #196
ping @ppatierno @cescoffier

[2021-02-09 07:28] cescoffier commented on #196
It's the bug @tsegismont chased, and yes I confirm that the problem was fixed in the Apache Kafka client. Note that 2.7 is also available.

[2021-03-12 22:59] uraniumdawn commented on #159
@aesteve

Can you, please, make some clarification about this warning? We now want to use this pair for delivering our HTTP events to Kafka. Thanks.

[2021-03-19 15:47] sudaredd opened #202 "Not reading kafka.properties if I run with fat jar"
### Questions
Getting following exception when I try to build and run with jar file
java -jar demo-1.0.0.jar
io.vertx.core.impl.NoStackTraceThrowable: Kafka properties file at location kafka.properties is missing. Either specify using -Dproperties_path=<path> or use the default path of kafka.properties.

### Version

Which version(s) did you encounter this bug ?

### Context

I encountered an exce

[2021-09-26 16:47] murphye opened #207 "Update for Kafka Client 3.0"
Of course, Apache Kafka 3 is here. It would be nice if Vert.x offered initial support here, maybe as experimental. Thanks!

Relevant links:
https://mvnrepository.com/artifact/org.apache.kafka/kafka-clients/3.0.0
https://docs.confluent.io/3.0.0/upgrade.html#upgrade-client-applications
https://kafka.apache.org/0100/documentation.html#upgrade_10_breaking

[2021-11-13 09:01] wem commented on #170
I think the cause is the KafkaReadStreamImpl hardly depends on the presence of the handler. At least within the schedule method, it calls the run method (where the polling will happen) only if the handler is set. io/vertx/kafka/client/consumer/impl/KafkaReadStreamImpl.java:186

[2021-11-13 10:35] calohmn commented on #170
@wem I agree (I guess you mean "strongly depends" instead of "hardly")

I think it should at least be made very clear in the `KafkaConsumer#batchHandler` javadoc that the batchHandler will only be invoked if a handler has been set via the `handler()` method.
In general, I think it would be much more intuitive, if setting the batchHandler alone would also start the polling loop, without the depende

[2021-11-13 10:44] wem commented on #170
@calohmn ... Yes for sure i mean strongly, i did update my comment :)

I agree, imo both handlers should be operational independently of each other.
Another finding is that only the usual handler is covered by tracing. But that's another issue.

[2021-12-06 16:36] davsclaus commented on #207
yeah it can be removed, everybody uses the regular camel-kafka component

[2022-01-12 18:42] sfitts commented on #196
Would be great to uptake at least 2.7 as it contains some features we'd love to leverage.  Any plans for that?

[2022-01-13 13:31] vietj commented on #196
we actually have a planned upgrade to 3.0.0 when Vert.x 4.3.0 is released

[2022-01-13 13:32] vietj commented on #196
see https://github.com/vert-x3/vertx-kafka-client/pull/208

[2022-02-07 09:39] juliantcook opened #214 "Consume messages on duplicate context"
#### Describe the feature

Consume messages on a duplicate context regardless of whether Vert.x tracing is enabled so that a context's local data can be used amongst handlers.

#### Use cases

Users may want to have a context they can share between handlers for a single message, like the behaviour users are used to from HTTP request handlers.

#### Contribution

I can raise a PR for this if it is

[2022-02-07 14:15] vietj commented on #214
I think we can schedule this contribution for 4.3.0

[2022-02-16 10:36] b1zzu commented on #114
Hi, I'm having the same issue and I also got to the conclusion that is the `done.result()` that returns `null` and therefore the loop throws a `java.lang.NullPointerException` and the `handler` never get notified of this error.

My traceback:
[code]

[2022-02-16 11:57] vietj commented on #114
ping @ppatierno

[2022-02-17 09:12] ppatierno commented on #114
I have to find the time to finally take a look at this issue :-(

[2022-04-14 09:36] ngnhatdinh2 commented on #178
I got the same issue with the Rxified version.
I was using a Json  Deserializer for `consumer`, when I produce a non-Json value, I got a `SerializationException`. Even though, I caught the exception, the next values are nowhere to find.

[code]

[2022-05-15 23:50] #207 closed

[2022-05-23 23:58] agapic opened #219 "Offsets are committed out of order, which can lead to lost messages on failures/restarts"
### Questions

Why does the Vertx Kafka client have 10 in-flight consumer handlers? Why isn't it configurable? https://github.com/vert-x3/vertx-kafka-client/blob/6a836011899fd5bdc705199785e510aae048e962/src/main/java/io/vertx/kafka/client/consumer/impl/KafkaReadStreamImpl.java#L238

### Version

Vertx 4.2.5, but bug exists in older versions too.

### Context

Messages are always read in order, but

[2022-05-24 02:16] vsabella commented on #219
False alarm, this is a bug in the sample code above in how it manages completion with futures and promises.

[2022-05-24 14:12] agapic commented on #219
Closing this but how did the Vertx Kafka Client developers intend for the handler to be used? Is it meant to be synchronous? @vietj

[2022-05-24 14:12] #219 closed

[2022-06-01 16:06] cyhii opened #220 "Consumer went to infinite loop when SerializationException throws"
### Questions

I write a Kafka consumer to consume JSON messages, so I use JsonObjectDeserializer, my configuration is:

[code]

but sometimes when a Non-JSON message produced in Kafka, this consumer went to infinite loop at the position of that message.

I read the source code and found these lines in `io.vertx.kafka.client.consumer.impl.KafkaReadStreamImpl.java`:

[code]

It throws Serialization

[2022-06-02 04:24] cyhii commented on #220
Sure, I've made [a commit](https://github.com/cyhii/vertx-starter-demo/commit/6371b638883c59ce7c85a9f907b7e3b9a0be6a58) to my demo project to reproduce this issue

Steps:

1. Start a Kafka server on localhost(follow the [quickstart](https://kafka.apache.org/quickstart))
2. Start [the application](https://github.com/cyhii/vertx-starter-demo) above
3. Try to send some non-JSON message, it happens.

[2022-06-07 06:13] pierDipi opened #221 "Closing a consumer might never produce a completed future when `Consumer.close()` throws an exception"
### Version

Which version(s) did you encounter this bug ? 4.2.5

### Context

When closing the underlying Kafka consumer fails for some reason, the returned future is never complete.

### Do you have a reproducer?

This test will produce timeout errors since the `Future<Void>` as defined like this `f = KafkaReadStream.close()` will never be complete:

[code]

### Steps to reproduce

1. Add Consum

[2022-06-07 06:14] pierDipi commented on #221
@tsegismont @ppatierno what do you think about the proposed patch?

[2022-06-07 12:13] pierDipi commented on #221
Thanks Thomas! I will send a PR based on your suggestion

[2022-06-08 09:12] agolikcorp opened #222 "Automatic trace propagation for Kafka Messages issue"
Hello,
It is expected that Kafka shared producers add span to traces when a message is being written. It works, but peer.address, peer.hostname and peer.port are always empty.
Producer is created over KafkaProducer.create(vertx, producerConfig) where producerConfig is KafkaClientOptions with configured tracePeerAddress property.
I assume that it happens because new empty instance of KafkaClientOpt

[2022-06-08 09:27] tsegismont commented on #222
@agolikcorp thank you

[2022-06-13 12:10] #196 closed

[2022-06-14 07:26] ppatierno commented on #220
Not sure something I can take a look right now, @cyhii any chance for a contribution I can review and help with?

[2022-07-04 16:53] #221 closed

[2022-07-19 09:08] vietj opened #225 "Vert.x Kafka stream implementation should unwrap the context"
The current Vert.x stream implementation will use the current context, but they should always unwrap it, it case the stream is created within an duplicate context.

[2022-07-19 09:08] #225 closed, assigned to nobody

[2022-09-09 09:43] jhughes24816 opened #228 "Development issue: testCreatePartitionInTopicWithAssignment is flaky"
When I have worked on this repo I have found some tests to be flaky they are listed below.
- AdminClientTest/testCreatePartitionInTopicWithAssignment
- ConsumerFailedCloseTest/testRebalance
- ConsumerTest/testRebalance

This issue to track work to fix these tests.

[2022-09-09 09:44] jhughes24816 commented on #228
@vietj please label as appropriate. Thanks, I intend to work on this in some of my downtime.